# These are some examples of commonly ignored file patterns. 
# You should customize this list as applicable to your projects. 
# Learn more about .gitignore: 
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore


# Node artifect files
node_modules/
dist/ 

# Complied Java class files
*.class

# Complied Python bytecode
*py[cod]

# Log files
*.Log

# Package files